/*
!/.config

/.config/*
!/.config/alacritty
!/.config/bspwm
!/.config/picom
!/.config/polybar
!/.config/ranger
/.config/ranger/plugins

!/.config/rofi
!/.config/sxhkd
!/.config/zsh
/.config/zsh/histfile
/.config/zsh/zhistory

